@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "variables.less";

body {
  padding-top: 170px;
}

body.hide-header {
  padding-top: 70px;
}

body.hide-header .hideable-header {
  display: none;
}